/* src/App.css */
.App {
    text-align: center;
    padding: 20px;
  }
  
  .row-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .dynamic-image {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 1%;
    flex: 1 1 300px; /* allows the items to wrap */
  }
  
  .dynamic-image.row {
    flex-direction: row;
  }
  
  .dynamic-image.column {
    flex-direction: column;
  }
  
  .dynamic-image img {
    max-width: 100%;
    height: auto;
  }
  
  .dynamic-image h2 {
    margin: 0;
    text-align: center;
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 768px) {
    .dynamic-image.row {
      flex-direction: column;
    }
  }
  
  @media (max-width: 480px) {
    .dynamic-image {
      padding: 0.5%;
    }
      .dynamic-image img {
      width: 100%;
      height: auto;
    }
  
    .dynamic-image h2 {
      font-size: 1.2rem;
    } 
  }
  .dynamic-image:hover {
    transform: scale(1.05); 
    background-color:  #0b6ab2 !important;
    padding: 1%;
    
   
  }
  .row-container:hover{
    background-color:  #0b6ab2,!important
  }
  